h1 {
  font-family: "Bebas Neue", cursive;
  font-size: 4.5em;
  line-height: 90%;
}

.ebaggy-logo {
  width: 15%;
}

.green-highlight {
  color: #2e7d32;
}

header {
  background-color: #c8e6c9;
}

.banner-img {
  width: 75%;
}

.ebaggy-info img {
  width: 15%;
}

.info-banner img {
  width: 100%;
}

.ebaggy-item-grid .card {
  border: 0;
  border-radius: 1em !important;
}

.ebaggy-item-grid .card-footer {
  border: 0;
}

#contact {
  background-color: #c8e6c9;
}

.product-img {
  border-radius: 1.5em;
  background-color: #f1f1f1;
}

.ebaggy-info-service {
  border-radius: 2rem !important;
}

.ebaggy-btn {
  border: 0;
  border-radius: 0.5em;
  background-color: #363958;
}

h2 {
  color: #2e7d32;
  font-weight: 700;
}
