.ebaggy-logo{
    width: 20%;
}

header{
    background-color:#C8E6C9;
}

.banner-img{
    width: 75%;
}

.ebaggy-info img{
    width: 15%;
}

.info-banner img{
    width: 100%;
}

.ebaggy-item-grid .card {
    border: 0;
    border-radius: 1em !important;
}


.ebaggy-item-grid .card-footer {
    border: 0;
}

#contact{
    background-color: #C8E6C9;
}

.product-img {
    border-radius: 1.5em;
    background-color: #F1F1F1;
}